@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.container {
    display: flex;
    margin-top: 10px;
}

.left-column {
    width: 30%;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.right-column {
    width: 70%;
    padding: 20px 20px 30px 20px;
}

/* icon */
.icon {
    width: 20px;
    height: 20px;
}

.profile-picture {
    display: block;
    margin-bottom: 10px;
    border-radius: 50%;
}

/* パーソナルスキル */
.skill-bar {
    margin: 10px 0;
}

.skill-bar .bar {
    background: #eee;
    border-radius: 5px;
    overflow: hidden;
}

.skill-bar .fill {
    background: #3498db;
    height: 10px;
}

/* 語学 */
.language-skill {
    margin: 10px 0;
    font-size: 16px;
}
  
.language-skill .items-center {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
  
.language-skill .items-center .flex span{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-right: 10px;
    text-align: right;
}  

.work-experience {
    margin: 20px 0;
}
