@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.container {
    display: flex;
    margin-top: 10px;
}

.left-column {
    width: 30%;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.right-column {
    width: 70%;
    padding: 20px;
}

.personal-info {
    text-align: center;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.skill-bar {
    margin: 10px 0;
}

.skill-bar .bar {
    background: #eee;
    border-radius: 5px;
    overflow: hidden;
}

.skill-bar .fill {
    background: #3498db;
    height: 10px;
}

.language-skill {
    margin: 10px 0;
}

.work-experience {
    margin: 20px 0;
}

.language-skill {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 16px; /* 適宜調整してください */
  }
  
  .language-skill .items-center {
    display: flex;
    align-items: center;
  }
  
  .language-skill .items-center .flex {
    display: flex;
    align-items: center;
  }
  
  .language-skill .items-center span:first-child {
    margin-right: 10px; /* 言語名とドットの間のスペース */
  }
  
  .language-skill .items-center .flex span {
    width: 10px; /* ドットのサイズ */
    height: 10px; /* ドットのサイズ */
    border-radius: 50%; /* 円形にする */
    background-color: #000; /* 初期色 */
    margin: 0 2px; /* ドット間のスペース */
  }
  